<h1>Carrito ID: {{cart._id}}</h1>

{{#if cart.products.length}}
    <div class="cart-items">
        {{#each cart.products}}
            <div class="cart-item">
                
                <h2>{{this.product.titulo}}</h2> 
                <p>ID de Producto: <code>{{this.product._id}}</code></p>
                <p>Precio Unitario: ${{this.product.precio}}</p>
                <p>Cantidad en Carrito: <strong>{{this.quantity}}</strong></p>
                <p>Subtotal: ${{multiply this.product.precio this.quantity}}</p> 

                
                <button class="btn-remove" data-cart-id="{{../cart._id}}" data-product-id="{{this.product._id}}">Eliminar</button>
            </div>
        {{/each}}
    </div>
{{else}}
    <p>El carrito está vacío. ¡Empieza a comprar domótica!</p>
{{/if}}
<br>
<a href="/" class="btn-back">← Continuar Comprando</a>